

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-background, #footer {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}


.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  width: 110px;
  border-radius: 50%;
  margin: 48px 0 0;
  
}
.btn-primary {
  background-color: #f8f9fa;
  color: black;
  border: none;
}
.btn-primary:hover {
  background-color: rgb(173, 170, 170);
  transition-duration: 300ms;
    
}
.btn-outline-secondary {
  color: white;
  border-color: white;
}
.btn-outline-secondary:hover {
  background-color: white;
  color: black;
}
#testimonial {
  background-color: #f8f9fa;
  padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
.testimonial-para {
font-size: 32px;
margin: 0 0 8px;
}
.testimonials {
 text-align: center;
 justify-content: center;
 padding: 48px;

}
.dogimg-para {
  text-align: center;
  margin: 0 17px;
  padding: 48px 12px;
}
.place {
  color: #00bfff;
}
.container2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img33 {
  height: 30px;
}
.plan123 {
 text-align: center;
 padding: 16px 16px 24px;
 margin-top: 32px;
 font-size: 20px;
 color: #212529bf;
}
.plan123 > h2 {
  color: black;
  font-weight: 400!important;
  line-height: 1.2;
  font-size: calc(1.475rem + 2.7vw);
}
.btn-outline-primary {
  background-color: rgb(255, 255, 255);
  border-color: black;
  color: black;
}
.btn-outline-primary:hover {
  color: white;
  background-color: black;
  transition-duration: 300ms;
}
.btn-primary {
  background-color: black;
  color: white;
}
.btn-primary:hover {
  transition-duration: 300ms;
  background-color: #414141;
}

